/*
 * Variables
 */

/* COLORS */

/* Primary */
$red: #ec5723;
$purple: #514b69;
$mint: #f1faee;
$aqua: #a8dadc;
$blue: #457b9d;
$white: #fff;
$black: #000;

/* Sub */
$yellow: #eac435;
$pink-light: #fcf7f8;
$purple-light: #ced3dc;
$purple-medium: #aba9c3;
$blue-dark: #1c3144;


/* FONTS */
// TODO this is just an estimation
$font-size-h1: 4rem;
$font-size-h2: 3.125rem;
$font-size-h3: 2rem;


/*
 * Mixins
 */
@mixin breakpoint-grid-layout() {
	@supports (display: grid) {
		@media screen and (min-width: 700px) {
			@content;
		}
	}
}

/*
 * This mimic's Core's `.alignfull` class.
 *
 * You should use that if you can apply it directly to the element, but this is useful when that's not possible.
 */
@mixin alignfull() {
	position: relative;
	left: -1rem;
	width: calc(100% + (2 * 1rem));
	max-width: calc(100% + (2 * 1rem));
	clear: both;

	@media only screen and (min-width: 700px) {
		margin-top: calc(2 * 1rem);
		margin-bottom: calc(2 * 1rem);
		left: calc(-12.5% - 75px);
		width: calc(125% + 150px);
		max-width: calc(125% + 150px);
	}
}