.widget-title {
	text-align: center;
}

//Fuel Your Business
#content-widget-4 {
	background-image: url(images/v2-rain.png);
	background-repeat: repeat;
}

.widget_rss {
	.widget-title {
		display: none;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			border: 2px solid $color-border;
			background-color: $white;
			padding: 2rem;
			margin: 2rem 0;

			a {
				color: $black;
				font-size: 24px;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

.info-column {
	padding: 1rem;

	a {
		font-weight: 500;
		display: block;
		color: $black;
		text-decoration: none;

		&::before {
			content: "";
			background-image: url(images/arrow-orange.png);
			background-size: 100%;
			background-repeat: no-repeat;
			background-position: center center;
			display: inline-block;
			height: 15px;
			width: 15px;
			margin-right: 8px;
		}
	}

	p {
		margin: 0;
	}
}

.info-header {
	margin-bottom: 0.5rem;

	&::after {
		content: "";
		height: 5px;
		width: 60px;
		margin-top: 5px;
		background-color: $white;
		display: block;
	}
}

.info-linklist {
	list-style: none;
	margin: 0;
	margin-top: 0.5rem;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	margin-left: -5px;
	margin-right: -5px;

	li {
		flex-basis: 50%;

		&.list-item-wide {
			flex-basis: 100%;
		}

		a {
			display: block;
			padding: 10px;
			background-color: $color-yellow-77;
			margin: 5px;

			&:hover {
				background-color: darken($color-yellow-56, 10%);
			}
		}
	}
}

.info-column--attendees {
	background-color: $color-yellow-56;

	.info-header {
		color: $color-yellow-35;
	}
}

.info-column--sponsors {
	background-color: $color-purple-47;
	color: $white;

	.info-header {
		color: $color-purple-79;
	}

	a {
		color: $white;
	}

	.info-linklist {

		a {
			background-color: $color-purple-30;

			&:hover {
				background-color: darken($color-purple-30, 10%);
			}
		}
	}
}

.info-column--speakers {
	background-color: $color-blue-64;

	.info-header {
		color: $color-blue-19;
	}

	.info-linklist {

		a {
			background-color: $color-blue-81;

			&:hover {
				background-color: darken($color-blue-64, 15%);
			}
		}
	}
}

.info-column--volunteers {
	background-color: $color-blue-19;
	color: $white;

	.info-header {
		color: $color-blue-62;
	}

	a {
		color: $white;
	}

	.info-linklist {

		a {
			background-color: $color-blue-44;

			&:hover {
				background-color: darken($color-blue-44, 15%);
			}
		}
	}
}


@media (min-width: 600px) {

	.info-column.wp-block-column {
		flex-basis: calc(50% - 8px);
	}

	.info-column.wp-block-column:nth-child(2n) {
		margin-left: 16px;
	}
}

@media (min-width: 782px) {

	.info-column.wp-block-column:not(:first-child) {
		margin-left: 16px;
	}

	.info-column {
		padding: 1rem 2rem;
	}
}
