$calc_margin: calc((98vw - #{$content-max-width})/2); //use 98vw because vw includes scrollbars

.widget-title {
	text-align: center;
}

.content-widgets-block {
	padding: 2rem 1rem;
	width: 100%;

	.widget {
		max-width: $content-max-width;
		/* todo should this be set on .site-content instead, so that all of the content is limited? */
		margin-left: auto;
		margin-right: auto;
	}

	.widget_nav_menu {
		.menu {
			list-style: none;
			background-color: $color-green-96;
			border: 1px solid $color-green-95;
			margin: 0;
			padding: 15px;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.menu-item {
			padding-left: 10px;
			padding-right: 10px;

			a {
				color: $color-orange-57;
				text-decoration: none;
				font-weight: bold;
				padding: 8px 0;
				text-align: center;
				display: block;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		.menu-item:last-of-type {
			border-right: none;
		}
	}
}

.widget_rss {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {

			a {
				color: $black;
				font-size: 24px;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

@include breakpoint-tablet-up {
	.content-widgets-block {
		.widget_nav_menu {
			.menu {
				flex-direction: row;
				justify-content: center;
			}

			.menu-item {
				border-right: 2px solid $color-gray-91;

				a {
					padding: 0;
				}
			}

			.menu-item:last-of-type {
				border-right: none;
			}
		}
	}
}

//SCHEDULE ETC
#content-widget-1 {
	padding-top: 4rem;
	background-image: url(images/v2-rain.png);
	background-repeat: repeat;
	background-size: 150%;
	background-position-y: -25px;
	padding-bottom: 3rem;

	img {
		width: 100%;
	}

	.wordcamp-wrapper {
		padding: 1rem;
		background-color: $color-green-96;
	}

	.button {
		width: 100%;
	}

	.widget_rss {
		border: 2px solid $color-border;
		background-color: $white;
		padding: 2rem;

		.widget-title {
			text-align: left;
			font-size: 18px;

			&::after {
				content: "";
				height: 5px;
				width: 60px;
				margin-top: 5px;
				background-color: $color-yellow-56;
				display: block;
			}

			.rss-widget-icon {
				display: none;
			}

			a {
				color: $black;
				cursor: default;
				text-decoration: none;
			}
		}
	}
}

@include breakpoint-grid-layout {
	#content-widget-1 {
		padding-top: 6rem;
		display: grid;
		grid-template-columns: 33% 34% 33%;
		grid-template-rows: auto;
		grid-template-areas:
			"image_intro intro         intro"
			"image_intro button_intro  button_intro"
			"sched       sched         image_sched"
			"button_sched button_sched image_sched"
			"menu        menu          menu";

		.widget_rss {
			grid-area: sched;
			margin-left: 0;
			margin-right: 1rem;
		}

		.widget_nav_menu {
			grid-area: menu;
			margin-left: 0;
			margin-right: 0;
		}
	}

	.widget_media_image {
		@supports (object-fit: cover) {
			img {
				object-fit: cover;
				height: 100%;
				width: 100%;
			}
		}
	}

	//top image
	#media_image-3 {
		grid-area: image_intro;
		margin-left: 0;
	}

	//bottom image
	#media_image-5 {
		grid-area: image_sched;
		margin-right: 0;
	}

	//what is wordcamp
	#custom_html-20 {
		grid-area: intro;
		margin-right: 0;
		margin-left: 1rem;
	}

	//what is wc button
	#custom_html-18 {
		grid-area: button_intro;
		margin-right: 0;
		margin-left: 1rem;
	}

	//schedule button
	#custom_html-16 {
		grid-area: button_sched;
		margin-left: 0;
		margin-right: 1rem;
	}
}

@include breakpoint-grid-layout-lg() {
	#content-widget-1 {
		.widget_rss {
			margin-left: $calc_margin;
		}

		.widget_nav_menu {
			margin-left: $calc_margin;
			margin-right: $calc_margin;
		}
	}

	//top image
	#media_image-3 {
		margin-left: $calc_margin;
	}

	//bottom image
	#media_image-5 {
		margin-right: $calc_margin;
	}

	//what is wordcamp
	#custom_html-20 {
		margin-right: $calc_margin;
	}

	//what is wc button
	#custom_html-18 {
		grid-area: button_intro;
		margin-right: $calc_margin;
		margin-left: 1rem;
	}

	//schedule button
	#custom_html-16 {
		margin-left: $calc_margin;
	}
}

//Fuel Your Business
#content-widget-4 {
	background-image: url(images/v2-rain.png);
	background-repeat: repeat;
	background-size: 150%;
	background-position-y: -25px;
	padding-bottom: 3rem;

	#custom_html-13 {
		.button {
			display: inline-block;
			width: 100%;
			text-align: center;
		}
	}

	.widget_rss {
		margin-bottom: 0;

		.widget-title {
			display: none;
		}

		ul {

			li {
				border: 2px solid $color-border;
				background-color: $white;
				padding: 2rem;
				margin-bottom: 1.5rem;
			}
		}
	}
}

@include breakpoint-grid-layout {
	#content-widget-4 {
		background-image: url(images/v2-mug.png), url(images/v2-rain.png);
		background-repeat: no-repeat, repeat;
		background-size: 120px, 100%;
		background-position-y: 20px, -25px;
		background-position-x: 97%, 0;
		padding-bottom: 3rem;
		display: grid;
		grid-template-columns: 33% 67%;
		grid-template-rows: auto;
		grid-template-areas:
			"header header"
			"posts posts"
			"button menu";

		.widget_text:first-of-type {
			grid-area: header;
		}

		#custom_html-13 {
			grid-area: button;
			margin-right: 0;
			margin-left: 0;

			.button {
				display: inline-block;
				width: 100%;
				text-align: center;
			}
		}

		.widget_rss {
			grid-area: posts;
			margin-bottom: 0;
		}

		.widget_nav_menu {
			/* todo this creates horizontal scrolling in firefox on mobile */

			grid-area: menu;
			margin-left: 0;
			margin-right: 0;
			padding-left: 1rem;
		}
	}
}

@include breakpoint-grid-layout-lg {
	#content-widget-4 {
		background-position-x: 90%, 0;

		.widget_nav_menu {
			margin-right: $calc_margin;
			padding-left: 1rem;
		}

		#custom_html-13 {
			margin-left: $calc_margin;
		}
	}
}

/* INFO JUST FOR YOU */
#content-widget-3 {
	background-color: $color-green-96;
}

.info-column {
	padding: 1rem;

	a {
		display: block;
		color: $black;
		text-decoration: none;
	}

	p {
		margin: 0;
	}
}

.info-header {
	margin-bottom: 0.5rem;

	&::after {
		content: "";
		height: 5px;
		width: 60px;
		margin-top: 5px;
		background-color: $white;
		display: block;
	}
}

.info-linklist {
	list-style: none;
	margin: 0;
	margin-top: 0.5rem;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	margin-left: -5px;
	margin-right: -5px;

	li {
		flex-basis: 100%;

		&.list-item-wide {
			flex-basis: 100%;
		}

		a {
			display: block;
			padding: 10px;
			background-color: $color-yellow-77;
			border: 1px solid $color-yellow-61;
			margin: 5px;

			&:hover {
				background-color: darken($color-yellow-56, 10%);
			}
		}
	}
}

.info-column--attendees {
	background-color: $color-yellow-56;

	.info-header {
		color: $color-yellow-35;
	}
}

.info-column--sponsors {
	background-color: $color-purple-47;
	color: $white;

	.info-header {
		color: $color-purple-79;
	}

	a {
		color: $white;
	}

	.info-linklist {

		a {
			background-color: $color-purple-30;
			border: 1px solid $color-purple-27;

			&:hover {
				background-color: darken($color-purple-30, 10%);
			}
		}
	}
}

.info-column--speakers {
	background-color: $color-blue-64;

	.info-header {
		color: $color-blue-19;
	}

	.info-linklist {

		a {
			background-color: $color-blue-81;
			border: 1px solid $color-blue-53;

			&:hover {
				background-color: darken($color-blue-64, 15%);
			}
		}
	}
}

.info-column--volunteers {
	background-color: $color-blue-19;
	color: $white;

	.info-header {
		color: $color-blue-62;
	}

	a {
		color: $white;
	}

	.info-linklist {

		a {
			background-color: $color-blue-44;
			border: 1px solid $color-blue-13;

			&:hover {
				background-color: darken($color-blue-44, 15%);
			}
		}
	}
}

@include breakpoint-tablet-up {
	.info-linklist {
		li {
			flex-basis: 50%;
		}
	}
}

/* override core settings */
@media (min-width: 600px) {

	.info-column.wp-block-column {
		flex-basis: calc(50% - 8px);
	}

	.info-column.wp-block-column:nth-child(2n) {
		margin-left: 16px;
	}
}

/* override core settings */
@media (min-width: 782px) {

	.info-column.wp-block-column:not(:first-child) {
		margin-left: 16px;
	}

	.info-column {
		padding: 1rem 2rem;
	}
}

@include breakpoint-tablet-up {
	#content-widget-3 {
		background-image: url(images/v2-campfire.png), url(images/v2-backpack.png);
			/* todo maybe only add ^ on tablet or desktop, b/c can't really see it well on mobile */
		background-repeat: no-repeat, no-repeat;
		background-size: 250px, 250px;
		background-position: bottom 25px right 25px, bottom 25px left 25px;
	}
}

// Sponsors
@import "home-sponsors";
