a {
	transition: all 0.3s ease;
	color: $color-red-53;
	text-decoration: none;

	&:hover,
	&:active {
		color: $color-red-53;
		text-decoration: underline;
	}

	&:visited {
		color: $color-red-53;
	}
}

button,
a.button,
input[type=submit],
.wp-block-button__link {
	background-color: $color-orange-57;
	border: 1px solid $color-orange-55;
	border-radius: 0;
	padding: 10px 16px 10px;
	display: inline-block;
	font-weight: 500;
	color: $white;
	text-decoration: none;
	font-size: 1rem;

	&:hover {
		background-color: darken($color-orange-57, 15%);
	}
}

button.arrow::before,
a.arrow::before,
.wp-block-button__link::before {
	content: "";
	background-image: url(https://2019.seattle.wordcamp.org/files/2019/06/arrow-orange.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	display: inline-block;
	height: 15px;
	width: 15px;
	margin-right: 8px;
}

button.arrow.arrow-white::before,
a.arrow.arrow-white::before,
.wp-block-button__link::before {
	background-image: url(https://2019.seattle.wordcamp.org/files/2019/06/arrow-white.png);
}

button {
	opacity: 0.8;
}

.button-large {
	font-size: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 1rem;
	line-height: 1.2;
}

h1 {
	font-size: $font-size-h1-xs;
}

h2 {
	font-size: $font-size-h2-xs;
}

h3 {
	font-size: $font-size-h3;
}

@include breakpoint-tablet-up {
	h1 {
		font-size: $font-size-h1;
	}

	h2 {
		font-size: $font-size-h2;
	}
}

.widget_blog_subscription,
.widget_wcorg_mailchimp_wiget {
	display: inline-block;
	width: 100%;
	padding: 20px;
	color: #454443;
	background-color: $color-green-96;
	text-align: center;

	input {
		padding: 6px 10px 3px 10px;
		width: 100%;
		margin-bottom: 0.5rem;
		border-radius: 0;
	}

	input[type=submit] {
		margin-top: 1rem;
		border: 1px solid $color-orange-55;
		padding: 10px 16px 6px;
		font-size: 1rem;
	}

	label {
		text-align: left;
		font-size: 0.8rem;
		color: #454443;
	}

	.widget-title {
		font-size: 1rem;
	}
}
