// start with simple design for mobile and old browsers
// then use grid for bigger screens & modern browsers

@mixin critical_info_banner_height( $property ) {
	#{$property}: 80px;

	@include breakpoint-grid-layout {
		#{$property}: 30px;
	}

	/* todo need to add more breakpoints?
	should be able to have absolutely positied image have auto height, but would still need to push menu down a fixed amount
	could just have extra space between menu and this though
	*/
}



.main-navigation {
	position: relative;
	@include critical-info-banner-height( 'top' );
}

.site-header {
	padding-top: 20px;
	background-color: #a9dada;	/* todo convert to var, along w/ any others. see issue #9 for naming convention. */
	background-image: url( './images/v2-hero-mountain.png' ); /* todo the image needs to blend into the green background, otherwise cuts off abruptly on wide screens */
	/* todo replace w/ svg -- https://drive.google.com/open?id=1WpNQXyTbpIUZAwTepKUmwavp4WbkeDOn */
	background-size: contain;	/* todo this needs work */
	background-repeat: no-repeat;
	background-position: bottom;
	text-align: center;
}

#header-widgets {
	max-width: 900px;
	margin: 0 auto;
	background-image: url( './images/v2-tent.png' );
	background-size: 50%;	/* todo this needs work */
	background-repeat: no-repeat;
	background-position: bottom left 15%;
}

/* Yellow info banner */
#custom_html-8 {
	@include alignfull();

	position: absolute;
	top: 0;
	margin: 0;
	@include critical-info-banner-height( 'height' );
	background-color: #e9c544;
	text-align: center;
	padding: 5px 10px;

	@include breakpoint-grid-layout {
		margin: 0;
	}
}

.menu-toggle {
	width: 100%;
}

#media_image-2 {

}

/* todo abstract button styles since many are shared across header/front-page/footer */

.widget_blog_subscription {
	display: inline-block;
	width: 225px;
	background-color: #f3fbf0;
	padding: 0 20px;
	text-align: center;
}

@media screen and (min-width: 37.5em) {
	.page-navigation-container ul {
		display: flex;
		justify-content: center;
	}

	.page-navigation-container li {
		margin: 0;
		padding: 0 15px;
		border-right: 1px solid #d1d2d4;

		&:last-child {
			border-right: none;
		}
	}

	.page-navigation-container a {
		color: #d96036;
	}
}

@include breakpoint-grid-layout {
	.site-header {
		text-align: left;
	}

	#header-widget-1 {
		width: 100%;
		display: grid;
		grid-template-columns: 70% 30%;
		grid-template-rows: auto;
		grid-template-areas:
			"logo  subscribe"
			"theme subscribe"
			"dates tickets";
	}

	#custom_html-2 {
		grid-area: subscribe;
	}

	#custom_html-3 {
		grid-area: theme;
	}

	#media_image-2 {
		grid-area: logo;
	}

	#custom_html-4 {
		grid-area: tickets;
	}
}
