// start with simple design for mobile and old browsers
// then use grid for bigger screens & modern browsers

@mixin critical_info_banner_height( $property ) {
	#{$property}: 80px;

	@media screen and (min-width: 380px) {
		#{$property}: 55px;
	}

	@include breakpoint-grid-layout {
		#{$property}: 30px;
	}

	/* todo need to add more breakpoints?
	should be able to have absolutely positied image have auto height, but would still need to push menu down a fixed amount
	could just have extra space between menu and this though
	*/
}



.site-header {
	@include critical-info-banner-height( 'padding-top' );

	background-color: #a9dada;	/* todo convert to var, along w/ any others. see issue #9 for naming convention. */
	background-image: url( './images/mountain-cropped.svg' );
	background-size: auto 40%;	/* todo this isn't perfect */
	background-repeat: no-repeat;
	background-position: bottom;
	text-align: center;

	@include breakpoint-grid-layout {
		background-size: 100% auto;	/* todo this isn't perfect */
	}
}

.menu-toggle {
	width: 100%;
}

#header-widgets {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 80px;
	background-image: url( './images/v2-tent.png' );
	background-size: 50%;	/* todo this needs work */
	background-repeat: no-repeat;
	background-position: bottom left 15%;	/* todo bottom isn't always flush with parent bottom on mobile */
}

#header-widget-1 {
	@include critical-info-banner-height( 'margin-top' );
	padding-top: 60px;
}

/* Yellow info banner */
#custom_html-8 {
	@include alignfull();

	position: absolute;
	top: 0;
	margin: 0;
	@include critical-info-banner-height( 'height' );
	background-color: #e9c544;
	text-align: center;
	padding: 5px 10px;

	@include breakpoint-grid-layout {
		margin: 0;
	}
}

#header-widgets .headline {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: auto auto auto;
	grid-template-areas:
		"headline-logo headline"
		"sub-headline  sub-headline"
		"location      location"
	;

	img {
		grid-area: headline-logo;
		width: 100px;
	}

	h3 {
		grid-area: headline;
		text-transform: uppercase;
	}

	.sub-headline {
		grid-area: sub-headline;
	}

	a {
		grid-area: location;
	}
}

/* todo abstract button styles since many are shared across header/front-page/footer */

.widget_blog_subscription {
	display: inline-block;
	width: 225px;
	background-color: #f3fbf0;
	padding: 0 20px;
	text-align: center;
}

@media screen and (min-width: 37.5em) {
	.page-navigation-container ul {
		display: flex;
		justify-content: center;
	}

	.page-navigation-container li {
		margin: 0;
		padding: 0 15px;
		border-right: 1px solid #d1d2d4;

		&:last-child {
			border-right: none;
		}
	}

	.page-navigation-container a {
		color: #d96036;
	}
}

@include breakpoint-grid-layout {
	.site-header {
		text-align: left;
	}

	#header-widget-1 {
		width: 100%;
		display: grid;
		grid-template-columns: 70% 30%;
		grid-template-rows: auto;
		grid-template-areas:
			"headline-container subscribe"
			"headline-container grab-tickets";
	}

	#custom_html-3 {
		grid-area: headline-container;
	}

	#header-widgets .jetpack_subscription_widget {
		grid-area: subscribe;
	}

	#custom_html-4 {
		grid-area: grab-tickets;
	}
}
