/*
 * Tickets
 */

.tix_tickets_table tbody td {
	padding-bottom: 20px;
}

.tix-column-price,
.tix-column-remaining {
	padding-right: 20px;
	text-align: right;
}

.tix-column-quantity {
	text-align: right;
}
