/*
 * All posts
 */
.post {
	background-color: $color-green-96;
	padding: 2em;

	.entry-footer {
		border: none;
	}
}


/*
 * Tickets
 */

.tix_tickets_table tbody td {
	padding-bottom: 20px;
}

.tix-column-price,
.tix-column-remaining {
	padding-right: 20px;
	text-align: right;
}

.tix-column-quantity {
	text-align: right;
}


/*
 * Attendees
 */


@media screen and (max-width: 800px) {
	#tix-attendees .tix-columns-3 li {
		width: 50% !important;
	}
}

@media screen and (max-width: 500px) {
	#tix-attendees .tix-columns-3 li {
		width: 100% !important;
		float: none;
	}
}
